print("Hello World")

In [2]:
print('Hello World')

Hello World

In [4]:
print("Hello","World",sep='#')

Hello#World

In [5]:
print("Hello","World")

Hello World

In [10]:
print("Hello","World","Earth",sep='/')

Hello/World/Earth

In [11]:
print("Hey,Its a Python Class", "Join the Session to Learn")

Hey,Its a Python Class Join the Session to Learn

In [13]:
print("Hey,Its a Python Class")
print("Join the Session to Learn")
print("Hi")

Hey,Its a Python Class
Join the Session to Learn
Hi

In [15]:
print("Hey,Its a Python Class",end="\t")
print("Join the Session to Learn")
print("Hi")

Hey,Its a Python Class	Join the Session to Learn
Hi

<h2>Python Char Set</h2>

<pre> a-z,A-Z,0-9,!@#$$%^&*(){}:"<>?,Spaces,</pre>

<h2>Tokens</h2>

<pre> 1. Keywords
2. Identefiers
3. Literals
4. Operators
5. Punctuators</pre>

In [16]:
#keyword - > Spl meaning and reserved function/value 
#task1 - Exploring Keywords

In [20]:
#Identefiers - Name given to any variable or function
#Rules of Identefiers
#1.It should not start with a no or spl symbol expect _
#2. Other than _ no spl symbol is allowed
#3. Should not be a keyword
#4. Uppercase and Lowercase will be treated diff
#5. whitespaces are not allowed
#6. No can be included except the first char

<h3>Literals</h3>

<pre>
1.Strings
2.Numbers
3.Boolean
4.None
</pre>

In [1]:
#String 
a = "Abc123"
a

'Abc123'

In [2]:
a = 'Abc123'
a

'Abc123'

In [5]:
#Escape Seq
a = 'I\'m a mentor'
print(a)

I'm a mentor

In [8]:
a = "\"I need double quotes here\""
print(a)

"I need double quotes here"

In [11]:
a = "i need a backslash \\"
print(a)

i need a backslash \

In [12]:
a = "I am adding a \t tab space"
print(a)

I am adding a 	 tab space

In [13]:
a = "I am adding \n new line"
print(a)

I am adding
 new line

In [16]:
a = 'Hello \
world'
print(a)

Hello world

In [17]:
#Numbers

# Integers - Signed Numbers (Whole /Natural)
# Float - With Fractional part
# Complex Number - a+ib


a = 12
print(a)

12

In [18]:
type(a)

int

In [19]:
a = "12"
type(a)

str

In [20]:
b = int(a)
print(b)
type(b)

12

int

In [22]:
a = 12.90
print(int(a))

12

In [25]:
a = "12"
print(float(a))

12.0

In [26]:
a = 9 + 8J
print(a)

(9+8j)

In [27]:
a = 12
print(float(a))

12.0

In [28]:
a = float(12.90)
print(a)
print(int(a))

12.9
12

In [29]:
a = 12.33
print(a)

12.33

In [30]:
print(float(a))

12.33

In [31]:
#Boolean - True or False - 1 or 0
a = True
b = False
print(a,b)

True False

In [35]:
#None

a = None
print(a)

None

In [33]:
a = 0
id(a)

2810084

In [34]:
a = None
id(a)

2787348

<h3>Operators</h3>

<pre>
1.Logical Op
2.Arth Op
3.Bitwise op
4.Assign op
5.Identity Op
6.Relational Op
7.Membership Op
</pre>

In [37]:
#arth Op
a = 3
b = 2
print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a ** b)
print(b // a)
print(a % b)

5
1
6
1.5
9
0
1

In [41]:
#Iden Op - is , is not
a = 'a'
b = 'b'
print(a is b)
print(a is not b)

False
True

In [40]:
a = 2
b = 2
print(a is b)
print(a is not b)

True
False

In [42]:
# Relational Op - < > >=, <= ,==, !=,
a = 5
b = 3
print(a > b)
print(a < b)
print(a == b)
print(a != b)
print(a >= b)
print(a <= b)

True
False
False
True
True
False

In [43]:
#Membership Op - in , not in
a = 'Hello'
b = 'e'
print(b in a)

True

In [44]:
print(b is a)

False

In [45]:
print(a not in b)

True

In [46]:
#assign Op 
a = 3
a = a + 1
print(a)

4

In [48]:
a +=1
a-=1
a*=0
a/=1
a**=7
print(a)

0.0

In [49]:
#Log Op - and , or
a = 5>3
b = 3<2
print(a and b)
print(a or b)

False
True

In [52]:
# bitwise Op
a = 2 
#010
b = 4
#100
print(a & b) #bitwise AND
print(a | b) #bitwise OR

0
6

<h3>Input</h3>

In [53]:
a = input("Enter the value : ")

Enter the value :  hi

In [55]:
a

<h2>Conditional Statements</h2>

In [1]:
# if, else, elif

In [3]:
age = 17
if age>=18:
    print("Allowed")
else:
    print("Not Allowed")

Not Allowed

In [5]:
money = 500
if money < 200 :
    print("Combo 1")
elif money >= 200 and money < 500 :
    print("Combo 2")
else:
    print("Combo 3")

Combo 3

In [6]:
#one liner
age = 19
print("Allowed") if age>=18 else print("Not Allowed")

Allowed

In [7]:
money = 500 
print("Combo 1") if money < 200 else (print("Combo 2") if money >=200 and money < 500 else print("Combo 3") )

Combo 3

In [10]:
# Nested If else
age,money = 24,600
if age>=18:
    print("Allowed")
    if money<200:
        print("Combo 1")
    elif money >= 200 and money < 500 :
        print("Combo 2")
    else:
        print("Combo 3")
else:
    print("Not Allowed")

Allowed
Combo 3

In [ ]:
#Task 2 - > Find the grade of the student by getting is avg marks, 90-100 - A, 80-89- B, 70-79-C ,60-69 - D, 50 -60 - E, <50 = F

In [11]:
# avg = int(input("Enter the Average Marks"))
avg =81
if avg>=0 and avg<=100:
    if avg>=90:
        print("A")
    elif avg in range(80,90) :
        print("B")
    elif avg>=70 and avg<80:
        print("C")
    elif avg>=60 and avg<70:
        print("D")
    elif avg>=50 and avg<60:
        print("E")
    else:
        print("F")
else:
    print("Enter valid marks")

B

In [12]:
a = 10 
if a!=0:
    print("yes")

yes

<h2>Iterative Statements</h2>

<pre>
1. For Loop
2. While Loop
</pre>

In [1]:
#for loop - runs only for given number of times
#while loop - Condition based

In [2]:
for i in 'hello':
    print(i)

h
e
l
l
o

In [3]:
for i in [1,2,3,4,5]:
    print(i)

1
2
3
4
5

In [19]:
#range() -> numberical values between the given range 
#range(startValue,StopValue,StepValue)

In [6]:
for i in range(0,11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [8]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [9]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [12]:
for i in range(10,1,-2):
    print(i)

10
8
6
4
2

In [18]:
#Task 3 - pattern Printing - Diamond,Triangle,Box
# *
# **
# ***
# ****

In [14]:
for i in range(1,5):
    print('*' * i)

*
**
***
****

In [15]:
for i in range(1,5):
    print('*' * i)
for i in range(5,0,-1):
    print('*' * i)

*
**
***
****
*****
****
***
**
*

In [ ]:
#while loop
a = 5
while(a!=0):
    print(a)
    a-=1

In [3]:
#factorial
num=5
fact = 1
a = 1
while(a<=num):
    fact *= a
    a+=1
print(fact)

120

In [7]:
#nested loops
for i in range(1,5):
    for j in range(1,i):
        print(j)

1
1
2
1
2
3

In [1]:
#Task 3 - Explore Nested While Loops

In [3]:
#loop -else
for i in range(0,5):
    print(i)
else: # else block will be validated only when loop terminates naturally
    print("Hi")

0
1
2
3
4
Hi

In [4]:
#jump statements - Break,Continue,Pass
for i in range(0,5):
    if i!=3:
        print(i)
    else:
        break
else: 
    print("Hi")

0
1
2

In [5]:
for i in range(0,10):
    if i%2==0:
        print(i)
        break

0

In [7]:
for i in range(0,10):
    if i%2==0:
        print(i)
        continue

0
2
4
6
8

In [8]:
for i in range(0,10):
    pass

<h2>Strings</h2>

In [1]:
a = "Python"
a

'Python'

In [2]:
for i in a:
    print(i)

P
y
t
h
o
n

In [3]:
#Initialise a string
a = ''
a = ""

<h3>String Operations</h3>

In [4]:
# + -> Contactenate
# * -> Replication

In [6]:
# +
a = "Hello"
b = "World"
print(a+b)

HelloWorld

In [7]:
a = '1'
b = '2'
print(a+b)

12

In [8]:
print(int(a)+int(b))

3

In [9]:
a = 1
b = '2'
print(a+b)

<class 'TypeError'>: unsupported operand type(s) for +: 'int' and 'str'

In [10]:
# * 
a = "Python"
print(a*3)

PythonPythonPython

In [11]:
a = '2'
b = '3'
print(a*b)

<class 'TypeError'>: can't multiply sequence by non-int of type 'str'

In [12]:
print(a*int(b))

222

In [13]:
a = "Hello"
print(3 * a)

HelloHelloHello

In [14]:
# Membership Op - in , not in
a = "Hello"
print('h' in a)

False

In [15]:
'e' in a

True

In [16]:
'123' not in '12345'

False

In [17]:
#Comparisons

In [18]:
'abc' == 'abc'

True

In [19]:
'a' != 'abc'

True

In [20]:
'abc'>'ab'

True

In [21]:
'aBc'>'ab'

False

In [23]:
ord('a')

97

In [24]:
ord('B')

66

In [25]:
ord('c')

99

In [26]:
ord('b')

98

In [27]:
ord('A')

65

In [28]:
ord('Z')

90

In [29]:
ord('a')

97

In [30]:
ord('z')

122

In [31]:
ord('0')

48

In [32]:
ord('9')

57

chr(67)

In [34]:
chr(90)

'Z'

In [37]:
chr(125)

'}'

<h3>String Slicing</h3>

In [39]:
a = "hello"

In [40]:
a[0:5]

'hello'

In [41]:
a[1:4]

'ell'

In [42]:
a = "Elephant"

In [43]:
a[0:8]

'Elephant'

In [44]:
a[0]

'E'

In [46]:
a[7]

't'

In [47]:
a[1:6]

'lepha'

In [48]:
a = "amazing"

In [49]:
a[0:7]

'amazing'

In [50]:
print(a[0:3])#ama
print(a[2:5])#azi
print(a[4:5])#i
print(a[7:8])#
print(a[5:2])

ama
azi
i

In [51]:
a = "Hello"

In [56]:
a[-5:]

'Hello'

In [57]:
a[-1]

'o'

In [58]:
a[-2]

'l'

In [59]:
a[-4:-2]

'el'

In [60]:
a[:5]

'Hello'

In [61]:
a[1:]

'ello'

In [68]:
a = "Python"

In [67]:
a[0:6:2]

'Pto'

In [64]:
a[::-2]

'nhy'

In [65]:
a[::-1]

'nohtyP'

In [69]:
a[0:6:3]

'Ph'

<h3>String Functions</h3>

In [72]:
a = "Hello"
len(a) # len -> Gives you length of the string

5

In [75]:
a = "python"
a.capitalize() # -> converts it into sentence case ( first char will become Caps)

'Python'

In [76]:
a = "python"
a.upper()

'PYTHON'

In [77]:
a = "PYTHON"
a.lower()

'python'

In [78]:
a = "abc123"
a.isalnum()

True

In [79]:
a = 'abc'
a.isalnum()

True

In [80]:
a = ' '
a.isalnum()

False

In [81]:
a = 'abc'
a.isalpha()

True

In [82]:
a = '123'
a.isalpha()

False

In [83]:
a = 'abc123'
a.isalpha()

False

In [84]:
a = '1233'
a.isdigit()

True

In [85]:
a = 'abc123'
a.isdigit()

False

In [86]:
a = "python"
a.islower()

True

In [87]:
a = "Python"
a.islower()

False

In [88]:
a = "PYTHON"
a.isupper()

True

In [89]:
a = "PYTHoN"
a.isupper()

False

In [90]:
a = " "
a.isspace()

True

In [91]:
a = " s "
a.isspace()

False

In [92]:
a = ""
a.isspace()

False

In [93]:
a = "Hello"
a.find('e')

1

In [97]:
a.find('l') # -> return the first occurence

2

In [99]:
a.find('l',3,5)# -> index range can be specified

3

In [98]:
a.find('a') # -> it returns the -1 if not found

-1

In [100]:
a = "hello"

In [102]:
a.rstrip('lo')

'he'

In [103]:
a.lstrip('lo')

'hello'

In [104]:
a.lstrip('he')

'llo'

In [105]:
a.rstrip('he')

'hello'

In [106]:
a = "aaaabbbaaa"
a.lstrip('a')

'bbbaaa'

In [107]:
a.rstrip('a')

'aaaabbb'

In [108]:
a.lstrip('b')

'aaaabbbaaa'

<h2>Lists</h2>

In [110]:
a = [1,2,'hello',12.3,'world']
for i in a:
    print(i)

1
2
hello
12.3
world

In [111]:
#Initialising a list
a = []
a = list()
print(a)

[]

In [112]:
a = "Hello"
l = list(a)
l

['H', 'e', 'l', 'l', 'o']

<h3>list operations</h3>

In [113]:
# +, *
l1 = [1,2,3]
l2 = [4,5,6]
print(l1+l2)

[1, 2, 3, 4, 5, 6]

In [114]:
print(l1*3)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [115]:
1 in l1

True

In [116]:
[1] in l1

False

In [117]:
4 not in l1

True

In [118]:
l1 == l2

False

In [119]:
l1 != l2

True

In [122]:
[1,2,8,9]<[9,1]

True

In [123]:
[1,2,8,1]>[1,2,9,1]

False

In [124]:
[1,2,3]<[1,2,3]

False

<h3>List Slicing</h3>

In [126]:
l= [1,2,3,4,5,6,7,8,9,0]
l[0:5]

[1, 2, 3, 4, 5]

In [127]:
l[1]

2

In [128]:
l[:5]

[1, 2, 3, 4, 5]

In [129]:
l[3:]

[4, 5, 6, 7, 8, 9, 0]

In [130]:
l[3:-3]

[4, 5, 6, 7]

In [132]:
a = "hello"
a[:-3]

'he'

In [136]:
a[-5:]

'hello'

In [137]:
l[::2]

[1, 3, 5, 7, 9]

In [138]:
l[::-1]

[0, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [139]:
l[10:20]

[]

<h3>List Functions</h3>

In [1]:
#len
l = [1,2,3,4,5]
len(l)

5

In [5]:
#adding new elements to the lists
l=[1,2,3,4,5]
l.append(6)

In [6]:
l

[1, 2, 3, 4, 5, 6]

In [9]:
#lists are mutable
s="Hello"
print(s[3])

l

In [10]:
s[3]='a'

<class 'TypeError'>: 'str' object does not support item assignment

In [11]:
l=[1,2,3,4,5]
print(l[3])

4

In [12]:
l[3]=7
l

[1, 2, 3, 7, 5]

In [13]:
l

[1, 2, 3, 7, 5]

In [14]:
l.append(8)

In [15]:
l

[1, 2, 3, 7, 5, 8]

In [16]:
l.append(9,10)

<class 'TypeError'>: list.append() takes exactly one argument (2 given)

In [17]:
l.append(9)
l.append(10)

In [18]:
l

[1, 2, 3, 7, 5, 8, 9, 10]

In [19]:
l.append([11,12])

In [20]:
l

[1, 2, 3, 7, 5, 8, 9, 10, [11, 12]]

In [22]:
#extend
l1=[1,2,3,4,5]
l2=[6,7,8,9,0]
print(l1+l2)
l1.extend(l2)
print(l1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

In [23]:
#insert
l=[1,2,3,4]
l.insert(1,7)
l

[1, 7, 2, 3, 4]

In [24]:
l.insert(0,10)

In [25]:
l

[10, 1, 7, 2, 3, 4]

In [26]:
l.insert(len(l),10)
l

[10, 1, 7, 2, 3, 4, 10]

In [27]:
#del
l=[1,2,3,4]
del l

In [28]:
print(l)

<class 'NameError'>: name 'l' is not defined

In [29]:
l=[1,2,3,4]
del l[2]

In [30]:
l

[1, 2, 4]

In [31]:
#pop
l=[1,2,3,4]
l.pop()

4

In [32]:
#pop
l=[1,2,3,4,5]
l.pop(2)

3

In [33]:
#remove
l=[1,2,3,4,5]
l.remove(4)
l

[1, 2, 3, 5]

In [34]:
l

[1, 2, 3, 5]

In [35]:
l.clear()

In [36]:
l

[]

In [37]:
l=[1,2,2,4,3,5,7,2,8,2,9,0,2,6,2,3,8]
l.count(2)

6

In [38]:
l=[1,2,3,4,5,6,7,8,9,0]
l.reverse()
l

[0, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [39]:
l[::-1]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

In [40]:
l=[22,356,76,98,34,12,45,98,45]
l.sort()
l

[12, 22, 34, 45, 45, 76, 98, 98, 356]

In [41]:
l.sort(reverse=True)

In [42]:
l

[356, 98, 98, 76, 45, 45, 34, 22, 12]

<h2>Tuples</h2>

In [43]:
a = (1,2,3,4)
print(a)

(1, 2, 3, 4)

In [44]:
#initialise the tuple
a = ()
a = tuple()
s = "Hello"
a = tuple(s)
a

('H', 'e', 'l', 'l', 'o')

In [45]:
l = [1,2,3]
a = tuple(l)
a

(1, 2, 3)

In [46]:
l = [1]
l

[1]

In [47]:
t = (1)
t

1

In [48]:
type(t)

int

In [49]:
(1+2)*3

9

In [50]:
t = (1,)
t

(1,)

In [51]:
t = 3,
t

(3,)

In [52]:
rupees=2,000
rupees

(2, 0)

In [53]:
# +
t1=(1,2,3)
t2=(4,5,6)
t1+t2

(1, 2, 3, 4, 5, 6)

In [54]:
t1+(5,)

(1, 2, 3, 5)

In [55]:
t1*3

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [58]:
t = (1,2,3,4,5,6,7,8,9,0)
t[0:4]

(1, 2, 3, 4)

In [59]:
t[3:-3]

(4, 5, 6, 7)

In [60]:
t[::2]

(1, 3, 5, 7, 9)

In [61]:
t[::-1]

(0, 9, 8, 7, 6, 5, 4, 3, 2, 1)

In [62]:
t[0:5:3]

(1, 4)

In [63]:
t1=(2,3)
t2=(4,5)
t1>t2

False

In [64]:
t2=(2.0,3.0)
t1>t2

False

In [65]:
t1==t2

True

<h3>tuple Function</h3>

In [1]:
#len
t =(1,2,3,4)
len(t)

4

In [2]:
#max
max(t)

4

In [3]:
#min
min(t)

1

In [4]:
t=("abc","def","gef")
print(max(t))
print(min(t))

gef
abc

In [5]:
t=(1,2,3,4,5)
t.index(4)

3

In [6]:
t=(2,2,3,4,5,2,2,4,2,6)
t.count(2)

5

In [7]:
del t

In [8]:
t

<class 'NameError'>: name 't' is not defined

In [9]:
t = (1,2,3,4)
a,b,c,d=t
print(a,b,c,d)

1 2 3 4

In [14]:
t = (1,2,3,4,5)
l = list(t)
print(l)

[1, 2, 3, 4, 5]

<h2>Dictionary</h2>

In [15]:
roll=[101,102,103]
marks=[98,78,65]

In [16]:
d = {'101':98,'102':78,'103':65}
d['101']

98

In [17]:
d[0]

<class 'KeyError'>: 0

In [18]:
d={"a":10,1:32,(1,2):45}
d

{'a': 10, 1: 32, (1, 2): 45}

In [19]:
d = {[1,2]:40}
d

<class 'TypeError'>: unhashable type: 'list'

In [20]:
d={'a':1,'b':2,'c':3}
for i in d:
    print(i)

a
b
c

In [21]:
d = {}
d = dict()

In [22]:
d['a']=1
d['b']=2
d['c']=3

In [23]:
d

{'a': 1, 'b': 2, 'c': 3}

In [24]:
d = dict(a=1,b=2,c=3)
d

{'a': 1, 'b': 2, 'c': 3}

In [26]:
d = dict(zip(('a','b','c'),(1,2,3)))

In [27]:
d

{'a': 1, 'b': 2, 'c': 3}

In [29]:
d = dict((['a',1],['b',2],['c',3]))

In [30]:
d

{'a': 1, 'b': 2, 'c': 3}

In [31]:
d['d']=4

In [32]:
d

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [33]:
d['a']=8

In [34]:
d

{'a': 8, 'b': 2, 'c': 3, 'd': 4}

In [35]:
del d

In [36]:
d={'a': 1, 'b': 2, 'c': 3}

In [37]:
del d['a']

In [38]:
d

{'b': 2, 'c': 3}

In [39]:
d.pop('b')

2

In [40]:
d.pop('a',"Not found")

'Not found'

In [41]:
d.pop('a')

<class 'KeyError'>: 'a'

In [42]:
d={'a': 1, 'b': 2, 'c': 3}

In [43]:
d.get('a')

1

In [45]:
d['a']

1

In [46]:
d.get('f',"Erroprrr")

'Erroprrr'

In [49]:
print(list(d.keys()))

['a', 'b', 'c']

In [50]:
print(list(d.values()))

[1, 2, 3]

In [51]:
for i in d.items():
    print(i)

('a', 1)
('b', 2)
('c', 3)

In [52]:
d.items()

dict_items([('a', 1), ('b', 2), ('c', 3)])

In [53]:
d1={'a':1,'b':2}
d2={'c':3,'d':4}
d1.update(d2)

In [54]:
d1

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

<h3>List Comprisensions</h3>

In [2]:
#l=[1,...9]
l = []
for i in range(0,10):
    l.append(i)
print(l)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
l = [i for i in range(0,10)]
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [4]:
l = [i**2 for i in range(0,10)]
l

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

<h2>Functions</h2>

In [5]:
print("Hello World")

Hello World

In [7]:
print("Hello World 1")
print("Hello World 2")

Hello World 1
Hello World 2

In [9]:
def print1():
    print("Hello World 1")
def print2():
    print("Hello World 2")
print2()
print1()

Hello World 2
Hello World 1

In [11]:
#arguments
def printHi():
    print(a)
printHi()
a = "Hi" # Global

Hi

In [15]:
# Global scope -> means it is avl to all blocks of code
# local scope -> means its avl only to that particular block of code
def print1():
    global B
    B = 10
    print(B)
print1()
print(B)

10
10

In [16]:
#arguments -> for changing values,to feed the function

In [17]:
def add(a,b):
    print(a+b)
add(10,20)
add(56,76)
add(6,0)

30
132
6

In [19]:
def printArg(b,a):
    print(a)
    print(b)
printArg(1,2)

2
1

In [20]:
def printArg(b,a):
    print(a)
    print(b)
printArg(a=1,b=2)

1
2

In [22]:
def add(a,b):
    return a+b
def addp(a,b):
    print(a+b)
a = add(1,2)

In [23]:
a

3

In [25]:
A=addp(1,2)

3

In [26]:
#task 5 -> Build a calculator (using def)

<h2>Lambda Functions</h2>

In [28]:
l = lambda a: a+2
print(l(5))

7

In [29]:
l = lambda a,b: a+b
print(l(10,12))

22